/* I want a semi-transparent backgroud for the haver title */
.painting-wrap:hover{
    box-shadow: 0px 1px 3px rgba(0,0,5,.75);
}
.painting-wrap .painting-title{
    transition: opacity .333s;
}
.painting-wrap:hover .painting-title{
    opacity: 1;
}
.painting-title{
    opacity: 0;
    background-color: rgba(0,0,0,.75);
    color: #ffffff;
}

/* This is for the square that becomes an arrow to the selected painting */
#connecting-bit{
    border: 50px solid transparent;
    border-bottom: 50px solid #010101;
    width: 0px;
    height: 0px;
    margin-top:-88px; /* we drop an extra 12 to compensate for the padding */
    z-index: 1;
}
#connecting-bit-outline{
    border: 60px solid transparent;
    border-bottom: 60px solid #fefefe;
    width: 0px;
    height: 0px;
    margin-top:-112px; /* as above put +10 for each side */
    margin-left:-10px; /* so we can use the same math as the above int he JS offset it's width here */
    z-index: 0;
}

/* These hide the details pane when not needed and show it when needed */
#painting-details{
    display: none;
}
#painting-details.active{
    display: block;
}

/* Paint prushes and the words next to them */
.color-cell svg{
    display:inline;
    height:25px;
}
.color-cell svg path{
    stroke-width:25px
}
.color-cell span{
    text-stroke-width: 1px;
    -webkit-text-stroke-width: .5px;
}
.underlined-color{
    border-bottom: 5px solid #010101;
}

/* Turn those inputs into fancier boxes or something */
fieldset span{
    display:block;
    padding: .125em;
    text-align:center;
}
fieldset input{
    width:0;
    visibility: hidden;
}
fieldset label{
    padding: .125em .5em .2em;
    border-radius: 9001px;
    font-weight:600;
}
fieldset input:checked + label{
    color:white;
}
fieldset[name="trees"] label{                           color: #0a3410;}
fieldset[name="trees"] input:checked + label{background-color: #0a5410;}
fieldset[name="nature"] label{                           color: #0c0060;}
fieldset[name="nature"] input:checked + label{background-color: #0c0060;}
fieldset[name="manmade"] label{                           color: #422b25;}
fieldset[name="manmade"] input:checked + label{background-color: #422b25;}
fieldset[name="colors"] label{                           color: #103e5c;}
fieldset[name="colors"] input:checked + label{background-color: #103e5c;}
fieldset[name="frame"] label{                           color: #db0000;}
fieldset[name="frame"] input:checked + label{background-color: #db0000;}
fieldset[name="painter"] label{                           color: #000000;}
fieldset[name="painter"] input:checked + label{background-color: #000000;}
